{
  "openapi": "3.1.0",
  "info": {
    "title": "Kruzer PIM API",
    "version": "1.0.0",
    "description": "API REST do módulo PIM da Kruzer. Gerada automaticamente a partir dos controllers."
  },
  "servers": [
    {
      "url": "https://api.kruzer.io/pim",
      "description": "Produção (TODO confirmar)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "advertisements"
    },
    {
      "name": "associations"
    },
    {
      "name": "attribute-fields"
    },
    {
      "name": "attribute-groups"
    },
    {
      "name": "attribute-options"
    },
    {
      "name": "automations"
    },
    {
      "name": "brands"
    },
    {
      "name": "catalogs"
    },
    {
      "name": "categories"
    },
    {
      "name": "category-trees"
    },
    {
      "name": "channels"
    },
    {
      "name": "dashboard"
    },
    {
      "name": "exports"
    },
    {
      "name": "family"
    },
    {
      "name": "import-documents"
    },
    {
      "name": "imports"
    },
    {
      "name": "languages"
    },
    {
      "name": "prices"
    },
    {
      "name": "product_approvals"
    },
    {
      "name": "products"
    },
    {
      "name": "products-relations"
    },
    {
      "name": "publishments"
    },
    {
      "name": "stocks"
    },
    {
      "name": "template-view"
    },
    {
      "name": "type-channels"
    },
    {
      "name": "units"
    },
    {
      "name": "users-groups"
    },
    {
      "name": "webhooks"
    },
    {
      "name": "workflow-approvals"
    }
  ],
  "paths": {
    "/v1/advertisements": {
      "post": {
        "tags": [
          "advertisements"
        ],
        "summary": "Create Advertisement",
        "operationId": "advertisements_create-advertisement",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "advertisements"
        ],
        "summary": "Find Advertisements",
        "operationId": "advertisements_find-advertisements",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/advertisements/{id}": {
      "get": {
        "tags": [
          "advertisements"
        ],
        "summary": "Read One Advertisement",
        "operationId": "advertisements_read-one-advertisement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "advertisements"
        ],
        "summary": "Update Advertisement",
        "operationId": "advertisements_update-advertisement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/associations/bulk": {
      "put": {
        "tags": [
          "associations"
        ],
        "summary": "Bulk",
        "operationId": "associations_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/associations": {
      "post": {
        "tags": [
          "associations"
        ],
        "summary": "Create Associations",
        "operationId": "associations_create-associations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "associations"
        ],
        "summary": "Read Associations",
        "operationId": "associations_read-associations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/associations/{id}": {
      "delete": {
        "tags": [
          "associations"
        ],
        "summary": "Delete Associations",
        "operationId": "associations_delete-associations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "associations"
        ],
        "summary": "Read One Associations",
        "operationId": "associations_read-one-associations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "associations"
        ],
        "summary": "Update Associations",
        "operationId": "associations_update-associations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attribute-fields/bulk": {
      "put": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Bulk",
        "operationId": "attribute-fields_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attribute-fields": {
      "post": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Create Attribute Fields",
        "operationId": "attribute-fields_create-attribute-fields",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Read Attribute Fields",
        "operationId": "attribute-fields_read-attribute-fields",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/attribute-fields/{id}": {
      "delete": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Delete Attribute Fields",
        "operationId": "attribute-fields_delete-attribute-fields",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Read One Attribute Field",
        "operationId": "attribute-fields_read-one-attribute-field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Update Attribute Fields",
        "operationId": "attribute-fields_update-attribute-fields",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attributes": {
      "get": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Read Attributes",
        "operationId": "attribute-fields_read-attributes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/attribute-fields/verify/attribute-option/{id}": {
      "get": {
        "tags": [
          "attribute-fields"
        ],
        "summary": "Verify Attribute Fields",
        "operationId": "attribute-fields_verify-attribute-fields",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/attribute-groups/bulk": {
      "put": {
        "tags": [
          "attribute-groups"
        ],
        "summary": "Bulk",
        "operationId": "attribute-groups_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attribute-groups": {
      "post": {
        "tags": [
          "attribute-groups"
        ],
        "summary": "Create Attribute Group",
        "operationId": "attribute-groups_create-attribute-group",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "attribute-groups"
        ],
        "summary": "Read Attribute Groups",
        "operationId": "attribute-groups_read-attribute-groups",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/attribute-groups/{id}": {
      "delete": {
        "tags": [
          "attribute-groups"
        ],
        "summary": "Delete Attribute Group",
        "operationId": "attribute-groups_delete-attribute-group",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "attribute-groups"
        ],
        "summary": "Read One Attribute Group",
        "operationId": "attribute-groups_read-one-attribute-group",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "attribute-groups"
        ],
        "summary": "Update Attribute Group",
        "operationId": "attribute-groups_update-attribute-group",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attribute-options/{attribute_option_id}/append-field/{attribute_field_id}": {
      "put": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Append Attribute Field",
        "operationId": "attribute-options_append-attribute-field",
        "parameters": [
          {
            "name": "attribute_option_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attribute_field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attribute-options/bulk": {
      "put": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Bulk",
        "operationId": "attribute-options_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attribute-options/count": {
      "get": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Count Attribute Options",
        "operationId": "attribute-options_count-attribute-options",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/attribute-options": {
      "post": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Create Attribute Options",
        "operationId": "attribute-options_create-attribute-options",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Read Attribute Options",
        "operationId": "attribute-options_read-attribute-options",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/attribute-options/{id}": {
      "delete": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Delete Attribute Options",
        "operationId": "attribute-options_delete-attribute-options",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Read One Attribute Options",
        "operationId": "attribute-options_read-one-attribute-options",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Update Attribute Options.ts",
        "operationId": "attribute-options_update-attribute-options.ts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/attribute-options/{attribute_option_id}/pull-field/{attribute_field_id}": {
      "put": {
        "tags": [
          "attribute-options"
        ],
        "summary": "Pull Attribute Field",
        "operationId": "attribute-options_pull-attribute-field",
        "parameters": [
          {
            "name": "attribute_option_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attribute_field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/automations/product-relations": {
      "post": {
        "tags": [
          "automations"
        ],
        "summary": "Create Product Relation",
        "operationId": "automations_create-product-relation",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      }
    },
    "/v1/automations/product/{id}": {
      "patch": {
        "tags": [
          "automations"
        ],
        "summary": "Update Product",
        "operationId": "automations_update-product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update-product"
      }
    },
    "/v1/brands/bulk": {
      "put": {
        "tags": [
          "brands"
        ],
        "summary": "Bulk Brands",
        "operationId": "brands_bulk-brands",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/brands": {
      "post": {
        "tags": [
          "brands"
        ],
        "summary": "Create Brand",
        "operationId": "brands_create-brand",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "brands"
        ],
        "summary": "Read Brand",
        "operationId": "brands_read-brand",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/brands/{id}": {
      "delete": {
        "tags": [
          "brands"
        ],
        "summary": "Delete Brand",
        "operationId": "brands_delete-brand",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "brands"
        ],
        "summary": "Read One Brand",
        "operationId": "brands_read-one-brand",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "brands"
        ],
        "summary": "Update Brand",
        "operationId": "brands_update-brand",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/catalogs/bulk": {
      "put": {
        "tags": [
          "catalogs"
        ],
        "summary": "Bulk",
        "operationId": "catalogs_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/catalogs": {
      "post": {
        "tags": [
          "catalogs"
        ],
        "summary": "Create Catalog",
        "operationId": "catalogs_create-catalog",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "Read Catalogs",
        "operationId": "catalogs_read-catalogs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/catalogs/{id}": {
      "delete": {
        "tags": [
          "catalogs"
        ],
        "summary": "Delete Catalog",
        "operationId": "catalogs_delete-catalog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "Read One Catalog",
        "operationId": "catalogs_read-one-catalog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "catalogs"
        ],
        "summary": "Update Catalog",
        "operationId": "catalogs_update-catalog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/categories/bulk": {
      "put": {
        "tags": [
          "categories"
        ],
        "summary": "Bulk",
        "operationId": "categories_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/categories": {
      "post": {
        "tags": [
          "categories"
        ],
        "summary": "Create Categories",
        "operationId": "categories_create-categories",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "Read Categories",
        "operationId": "categories_read-categories",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/categories/{id}": {
      "delete": {
        "tags": [
          "categories"
        ],
        "summary": "Delete Categories",
        "operationId": "categories_delete-categories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "Read One Categories",
        "operationId": "categories_read-one-categories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "categories"
        ],
        "summary": "Update Categories",
        "operationId": "categories_update-categories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/category-trees/association/catalogs/add": {
      "put": {
        "tags": [
          "category-trees"
        ],
        "summary": "Association Catalog Add",
        "operationId": "category-trees_association-catalog-add",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "associate_catalog"
      }
    },
    "/v1/category-trees/association/catalogs/del": {
      "put": {
        "tags": [
          "category-trees"
        ],
        "summary": "Association Catalog Del",
        "operationId": "category-trees_association-catalog-del",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "deassociate_catalog"
      }
    },
    "/v1/category-trees/bulk": {
      "put": {
        "tags": [
          "category-trees"
        ],
        "summary": "Bulk",
        "operationId": "category-trees_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/category-trees": {
      "post": {
        "tags": [
          "category-trees"
        ],
        "summary": "Create Category Trees",
        "operationId": "category-trees_create-category-trees",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "category-trees"
        ],
        "summary": "Read Category Trees",
        "operationId": "category-trees_read-category-trees",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/category-trees/{id}": {
      "delete": {
        "tags": [
          "category-trees"
        ],
        "summary": "Delete Category Trees",
        "operationId": "category-trees_delete-category-trees",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "category-trees"
        ],
        "summary": "Read One Category Trees",
        "operationId": "category-trees_read-one-category-trees",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "category-trees"
        ],
        "summary": "Update Category Trees",
        "operationId": "category-trees_update-category-trees",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/channels": {
      "post": {
        "tags": [
          "channels"
        ],
        "summary": "Create Channels",
        "operationId": "channels_create-channels",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "channels"
        ],
        "summary": "Read Channels",
        "operationId": "channels_read-channels",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/channels/{id}": {
      "delete": {
        "tags": [
          "channels"
        ],
        "summary": "Delete Channels",
        "operationId": "channels_delete-channels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "channels"
        ],
        "summary": "Read One Channel",
        "operationId": "channels_read-one-channel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "channels"
        ],
        "summary": "Update Channels",
        "operationId": "channels_update-channels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/dashboard/products": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Read Dashboard Products Metrics",
        "operationId": "dashboard_read-dashboard-products-metrics",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/dashboard/workflow/{id}": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Read Dashboard Workflow Metrics",
        "operationId": "dashboard_read-dashboard-workflow-metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/exports": {
      "post": {
        "tags": [
          "exports"
        ],
        "summary": "Create Export",
        "operationId": "exports_create-export",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Read Exports",
        "operationId": "exports_read-exports",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/exports/{id}/download": {
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Create Export Download",
        "operationId": "exports_create-export-download",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/exports/{id}": {
      "delete": {
        "tags": [
          "exports"
        ],
        "summary": "Delete Export",
        "operationId": "exports_delete-export",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Read One Exports",
        "operationId": "exports_read-one-exports",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/exports/{id}/downloads": {
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Read Export Downloads",
        "operationId": "exports_read-export-downloads",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/family/association/catalogs/add": {
      "put": {
        "tags": [
          "family"
        ],
        "summary": "Association Catalog Add",
        "operationId": "family_association-catalog-add",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "associate_catalog"
      }
    },
    "/v1/family/association/catalogs/del": {
      "put": {
        "tags": [
          "family"
        ],
        "summary": "Association Catalog Del",
        "operationId": "family_association-catalog-del",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "deassociate_catalog"
      }
    },
    "/v1/families/bulk": {
      "put": {
        "tags": [
          "family"
        ],
        "summary": "Bulk",
        "operationId": "family_bulk",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "update"
      }
    },
    "/v1/families": {
      "post": {
        "tags": [
          "family"
        ],
        "summary": "Create Family",
        "operationId": "family_create-family",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-iam-action": "create"
      },
      "get": {
        "tags": [
          "family"
        ],
        "summary": "Read Family",
        "operationId": "family_read-family",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      }
    },
    "/v1/families/{id}": {
      "delete": {
        "tags": [
          "family"
        ],
        "summary": "Delete Family",
        "operationId": "family_delete-family",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "delete"
      },
      "get": {
        "tags": [
          "family"
        ],
        "summary": "Read One Family",
        "operationId": "family_read-one-family",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-iam-action": "read"
      },
      "put": {
        "tags": [
          "family"
        ],
        "summary": "Update Family",
        "operationId": "family_update-family",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação"
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Sem permissão"
          },
          "404": {
            "description": "Não encontrado"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
